layout: index
description: Developer Documentations
subtitle: Developer Documentations
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Blazing Fast Trading
      p.intro-feature-desc Micro-second order matching, under stress pressure of 20,000 orders per second
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Various Order Types
      p.intro-feature-desc Supports LIMIT,MARKET,STOP,FOK,IOC,TRAILINGSTOP Order Types. Supports LIMIT-Hidden Order
