layout: index
description: RightBTC Help Center | API Official Website.
subtitle: RightBTC Help Center | API Official Website
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 开始使用
       p.intro-link 
         a(href='/zh-cn/FAQ/',target='_blank') 注册账号
        p.intro-link 
          a(href='/zh-cn/FAQ/',target='_blank') 如何绑定谷歌二次验证
        p.intro-link 
          a(href='/zh-cn/FAQ/',target='_blank') C1和C2实名认证
         p.intro-link 

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 安全
        p.intro-link 
          a(href='/zh-cn/FAQ/',target='_blank') 如何绑定谷歌二次验证
        p.intro-link 
          a(href='/zh-cn/FAQ/',target='_blank') C1和C2实名认证
         p.intro-link 
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 快速交易
      p.intro-feature-desc 
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 丰富的订单类型
      p.intro-feature-desc
